@inherits VyprCore.RazorComponents.Base.VyprComponentBase
@using Microsoft.AspNetCore.Components.Web

<span class="vypr-icon" @onclick=OnClickAsync>
    <Radzen.Blazor.RadzenIcon Icon=@Icon Style=@Style class=@Class />
</span>