@inherits VyprCore.RazorComponents.Base.VyprContainerBase

<div class="vypr-code-snippet @Class">
    <pre style="margin: 0; line-height: 125%; display: flex;">
        <span style="margin-right:10px;">e.g.</span>
        <span style="background-color: #edf4f5">
            @ChildContent
        </span>
    </pre>
</div>
