<div class="user-management-pane-view">
    <div class="user-management-pane-view-summary">
        <div class="user-management-pane-view-profile-pic">
            <img class="user-profile-pic" src="https://mannatthemes.com/metrica/default/assets/images/users/user-4.jpg" alt="" height="110">
        </div>
    </div>
</div>