@using VyprCore.RazorComponents.Buttons

<div class="vypr-grid-actions">
    <ul>
        <li><VyprButtonPrimary  Icon="person_add" Text="Add New User"/></li>
        <li><VyprButtonPrimary  Icon="download_for_offline" Text="Export Data"/></li>
    </ul>
</div>