@attribute [Route(RelativePath)]

@layout VyprLoginLandingLayout

@using Microsoft.AspNetCore.Components.Forms
@using Radzen.Blazor
@using VyprCore.RazorComponents.Buttons
@using VyprCore.Client.Extensions
@using VyprCore.RazorComponents.Containers
@using VyprCore.RazorComponents.Forms
@using VyprCore.RazorComponents.Layouts
@using VyprCore.Models.ViewModels


@inherits VyprCore.RazorComponents.Base.VyprPageBase

<VyprForm TModel=@ForgotPasswordViewModel Model=@Model SubmitText="Reset Password" ShowResetButton=@false ShowButtonsBindTo=@ResponseMessage.IsOkResponse() @bind-WaitingOnResponse=@WaitingOnResponse OnValidSubmit=@OnProcessForgotPasswordAsync Class="vypr-fp vypr-app-fp">    

    <div class="vypr-fp-inputs vypr-app-fp-inputs">
        @if (ResponseMessage.IsOkResponse())
        {
            <p>
                We have sent an email to <b>@Model.UserName</b> with a link to reset your password.
            </p>

            <div class="vypr-btnset vypr-app-btnset">
                <VyprButtonPrimary Text="Return to login" OnClick=@(() => NavigationManager.NavigateTo(_useWebAuthn ? $"/login?U_WebAuthn=true" : $"/login")) />
            </div>
        }
        else
        {
            <p><h5>Forgot your password?</h5></p>

            <p>
                Enter your email address and we will send you an email to reset your password.
            </p>

            <p>            
                <VyprTextBox @bind-Value=@Model.UserName IsReadOnly=@WaitingOnResponse Placeholder="e.g. example@email.com" />
                <ValidationMessage For="@(() => Model.UserName)" />
            </p>
        }
    </div>
</VyprForm>