@attribute [Route(RelativePath)]

@layout VyprLoginLandingLayout

@using Microsoft.AspNetCore.Components.Forms
@using Radzen.Blazor
@using VyprCore.RazorComponents.Buttons
@using VyprCore.Client.Extensions
@using VyprCore.RazorComponents.Containers
@using VyprCore.RazorComponents.Forms
@using VyprCore.RazorComponents.Layouts
@using VyprCore.Models.ViewModels


@inherits VyprCore.RazorComponents.Base.VyprPageBase

<VyprForm TModel=@WebAuthnCredentialVerifyViewModel Model=@_model SubmitText="Confirm Password" ShowResetButton=@false ShowButtonsBindTo=@ResponseMessage.IsOkResponse() @bind-WaitingOnResponse=@WaitingOnResponse OnValidSubmit=@OnProcessConfirmPasswordAsync Class="vypr-fp vypr-app-fp">    
    @if (!string.IsNullOrEmpty(_response))
    {
        <VyprValidationResults>
            <VyprValidationResult Success="@false">@_response</VyprValidationResult>
        </VyprValidationResults>
    }

    <div class="vypr-fp-inputs vypr-app-fp-inputs">
        <b><span>Authenticate with your device</span></b>

        <p>
            It looks like you've not linked your account with this device yet. In order to use your devices
            verification methods with this app, we must first establish that the account
            is yours by confirming your password.
        </p>

        <VyprTextBox @bind-Value=@_model.Password UsePasswordMask=@true IsReadOnly=@WaitingOnResponse Placeholder="********" />
        <ValidationMessage For="@(() => _model.Password)" />
    </div>
</VyprForm>